/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/*------------------GALERY---------------*/
.gallery {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.sl-wrapper{
  background: #2E2F42CC;
}
.sl-wrapper div.sl-counter {
  color: #FFFFFF};

 .sl-wrapper .sl-navigation button.sl-prev {
    color: #FFFFFF;
      
  }
 .simple-lightbox button.sl-close  {
     
      color: #FFFFFF;
    }

        .simple-lightbox .sl-navigation button.sl-next {
        
           color: #FFFFFF;
         }
                    .simple-lightbox .sl-navigation button.sl-prev {
          
                      color: #FFFFFF;
                    }


/*------------------FORM---------------*/



.feedback-form{

  margin:auto;
   display: flex;
  flex-direction: column;
 max-width:408px; 
  padding: 24px;
border-radius: 8px;
background-color: rgb(232, 252, 253);
}

.feedback-form label{
  display: flex;
  flex-direction:column ;
  gap: 8px;
}
.feedback-form input {
  border-radius: 4px;
  
    height: 40px;
       border: 1px solid;
       margin-bottom: 8px;
}
.feedback-form textarea {
  border: 1px solid;
    margin-bottom: 16px;
}
.feedback-form button{
width:95px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFFFFF;

}
.feedback-form .errorColor{
  border-color: red;
  
}

.errorMsg {
  color:red;
 
}

/*------------------idx-------------------*/
.container-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px ; 
  gap: 35px;
  }

.go-gallery{
  display: block;
  text-align: center ;
margin: auto;

    width:95px;

    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 8px;
    background-color: #eb6d25;
    color: #FFFFFF;}