/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/*------------------GALERY---------------*/
.gallery {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.sl-wrapper{
  background: #2E2F42CC;
}
.sl-wrapper div.sl-counter {
  color: #FFFFFF};

 .sl-wrapper .sl-navigation button.sl-prev {
    color: #FFFFFF;
      
  }
 .simple-lightbox button.sl-close  {
     
      color: #FFFFFF;
    }

        .simple-lightbox .sl-navigation button.sl-next {
        
           color: #FFFFFF;
         }
                    .simple-lightbox .sl-navigation button.sl-prev {
          
                      color: #FFFFFF;
                    }